<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
<script>
  (function() {
    // Si l'utilisateur a cliqué manuellement sur un drapeau, on arrête la redirection auto
    if (sessionStorage.getItem('manualLanguageChoice')) {
      return; 
    }

    if (window.location.pathname === "/" || window.location.pathname === "") {
      var userLang = (navigator.language || navigator.userLanguage).substring(0, 2);

      if (userLang === 'en') {
        window.location.href = "/en/";
      } else if (userLang === 'de') {
        window.location.href = "/de/";
      }
      // Pour 'fr', le comportement par défaut est de rester sur "/"
    }
  })();
</script>
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
