<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>
  <body>
    <div id="all">
      {{ partial "top.html" . }}
      {{ partial "nav.html" . }}
      {{ partial "hero.html" . }}
      {{ partial "problems.html" . }}
      {{ partial "features.html" . }}
      {{ partial "social_proof.html" . }}
      {{ partial "metrics.html" . }}
      {{ partial "process.html" . }}
      {{ partial "why_syncheo.html" . }}
      {{ partial "cta_home.html" . }}
      {{ partial "recent_posts.html" . }}
      {{ partial "testimonials.html" . }}
      {{ partial "clients.html" . }}
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
